.content-padding {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}

.nav-padding {
    padding-left: 40px;
    padding-right: 40px;
}

/* Image on the Home Page */
.img-fluid {
    max-width: 20rem;
}

/* Gold button */
.gold-button {
    background-color: #FED67F;
    color: #111111;
}

/* Status style for error messages */
.status-error {
    margin-top: 20px;
    background-color: #4B3137;
    color: #FF9494;
}